* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 background-color: wheat;
}
.container {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.container h2 {
    text-align: center;
    padding: 10px 0px;
    margin-top: 50px;
    font-size: 2rem;
    color: rgb(222, 14, 31);
}

.formcontainer {
    margin-top: 50px;
    width: 350px;
}

.formcontainer label {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
}

.formcontainer input {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}

#gender{
    display: flex;
    padding-top: 10px;
}

input[type=radio] {
    height: 15px;
}

button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 255, 0.866);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 25px;
}

span {
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width : 768px) {
    .container {
        width: 80vw;
    }
    .formcontainer {
        width: 100%;
        padding: 10px 20px;
    }
    .container h2{
    width: 100%;
    font-size: 2rem;
    color: rgb(222, 14, 31);
    }
}